.onlyimage {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    z-index: -101
}

* {
    margin: auto;
    padding: auto;
}

.backgroundcolor {
    background-color: darkorange;
    max-width: 60%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    height: 1500px;
    overflow-y: hidden;
}